@font-face {
    font-family: 'ralewayregular';
    src: url('webfont/raleway-regular-webfont.woff2') format('woff2'),
         url('webfont/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: 0;
}
.bloc_page
{
    font-family: 'ralewayregular';
    color: black;
    max-width: 1400px;
    margin: auto;   
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
    width: 150px;
}

.menu
{
    display: flex;
    align-items: baseline;
    font-size: large;
    font-weight: bold;
   
}

.ancre a
{
    color: black;
    text-decoration: none;
    padding: 20px;
    margin-top: 3px;
}

.inscription a
{
    color: #0065fc;;
    text-decoration: none;
    padding-left: 20px;
}

.ancre a:hover
{   
    border-top: 3px #0065fc solid;
    color: #0065fc;
    margin-top: 0;
}

@media all and (max-width:768px)
{
   
    .menu
    {
        flex-direction: column-reverse;
       
    }

    .logo 
    {
        position: absolute;
        top: 0;
    }

    .inscription
    {
        position: absolute;
        top: 0;
        right: 25px;
        margin-top: 30px;
    }

    .ancre 
    {
        margin-top: 60px;
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .ancre a
    {
        border-bottom: 3px solid #F2F2F2;
        display: table-cell;
        text-align: center;
    }

    .ancre a:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
        
    }

}

/* section trouverz un hébergement */

.titres
{
    padding: 10px;;
}

.sous_titre
{
    font-size: small;
    padding-left: 10px;
}

.barre1
{
    display: flex;
    position: absolute;
    padding-left: 10px;
    
}

.ville
{
    width: 300px;
    height: 40px;
}

.bouton
{
    background-color: #0065fc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 0 10px 10px 0; 
    cursor: pointer;
}

.icon_location
{
    background-color: #F2F2F2;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.barre2
{
    display: flex;
    visibility: hidden;
}

.loupe
{
    background-color: #0065fc;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 10px 10px 10px 10px;
    margin-left: -20px; 
    color: white;        
}

button
{
    cursor: pointer;
}

@media all and (max-width: 768px)
{
    .barre1
    {
        visibility: hidden;
        width: 100px;
    }

    .barre2
    {
        visibility: inherit;
        justify-content: center;
    }

    .ville
    {
        width: 250px;
        height: 30px;
    }

}

/*filtres */

.filtres 
{
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.conteneur_filtre
{
    display: flex;
    align-items: baseline; 
}

.bloc_filtres
{
    display: flex;
} 

.box_filtre
{
    margin: 24px;
}


.bt
{
    display: flex; 
    align-items: baseline;
    margin: 0;
    padding-right: 20px;
    background-color: white;
    border: none;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    border-left: none ;
    font-size: medium;
    font-weight: bold;
}

.icon 
{
    color: #0065fc;
    width: 20px;
    height: 20px;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 50%;
    align-items: center;
    margin-left: -5px;
    margin-right: 5px;
}

.info
{
    display: flex;
    align-items: baseline;
    padding-left: 10px;
}

.icon_info
{
    background-color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #0065fc;
    border: 1px solid grey;
    font-size: small;
    border-radius: 50%;
    margin-right: 10px;
}

.info p 
{
   
    font-size: small;
}

@media all and (max-width: 1024px)
{
    .conteneur_filtre
    {
      flex-direction: column;
        
    }

    .bloc_filtres
    {
        flex-wrap: wrap;
    }

    .box_filtre
    {
        margin: 15px;
    }
}

/*section résultat de la recherche */
.conteneur_1
{
    display: flex;
}

.affichage
{
    flex:3;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-right: 20px;
    padding: 30px;
   
}

.hebergement_dispo
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 250px );
    grid-column-gap: 50px;
    grid-row-gap: 50px; 
    margin-bottom: 20px;
    padding: 0 10px;
}

.logement img
{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius:  20px 20px 0 0;
}

.logement 
{
    border: 3px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px #F2F2F2;
}

a
{
    text-decoration: none;
    color: black;
}

.prix, .nom, .etoiles
{
    margin:5px 10px;
    line-height: 1;
}

.nom
{
    font-size: large;
    font-weight: bold;
}

.prix
{
    font-size: small;
}

.etoiles
{
    color: #0065fc;
}

span
{
    color: #F2F2F2
}


.afficher_plus
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    padding-left: 10px;
}


/*aside */
aside
{
    background-color: #F2F2F2;
    flex: 1.2;
    border-radius: 20px; 
    padding: 30px;
 
}

.titre_aside
{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.pop img
{
    width: 40%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.pop
{
    display: flex;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px white;
    margin-bottom: 30px;
}



.nom_pop
{
    font-size: 1.2em;
    font-weight: bold; 
    line-height: 1;
   
}

.prix_pop
{
    font-size: small;
    line-height: 1;
 
}

.etoiles_pop
{
    color: #0065fc;
    line-height: 1;
    
}
.details_lp
{
    padding-left: 10px;
}


@media all and (max-width:1200px)
{
    .hebergement_dispo
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 250px );
        grid-column-gap: 20px;
        grid-row-gap: 20px; 
    }

    .affichage
    {
        flex:2;
        border-radius: 20px;
        background-color: #F2F2F2;
        padding-bottom: 30px;
    }

}

@media all and (max-width:1024px)
{
    .conteneur_1
    {
        flex-direction: column-reverse; 
    }

    .affichage
    {
        margin: 20px 0;
    }
}

@media all and (max-width:768px)
{
    .hebergement_dispo
    {
        display: grid;
        grid-template-columns: repeat(1, auto);
      
    } 

    .affichage 
    {
        margin: 0;
        padding: 0;
        background-color: white;
    }

    .logement img 
    {
        height: 150px;
    }

    .logement 
    {
        height: fit-content;
    }

    aside 
    {
        margin: 0;
        padding: 10px;
    }

    .details_lp
    {
        position: relative;
    }
    .nom_pop 
    {
        margin: 10px 0;
    }

    .etoiles_pop 
    {
       position: absolute;
       bottom: 0;
    }
}

/*section activités */

.titre_activite
{
    padding-left: 10px;
}

.conteneur_2
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-column-gap: 50px;
    grid-row-gap: 40px; 
}

.conteneur_2 img
{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
}

.act1
{
    grid-area: 1 / 1 / 3 / 2;
    position: relative;
    
}

.act2
{
    position: relative;
}

.act3
{
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}

.act4
{
    grid-area: 1 / 3 / 3 / 4;
    position: relative;
}

.act5
{
    border-radius: 10px;
    position: relative;
}

.act6
{
    position: relative;
}


.lieu 
{
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0  0 20px 20px;
}

.lieu h4 
{
    padding-left: 10px;
    font-weight: bold;
    font-size: large;
}

@media all and (max-width: 1024px)
{
    .conteneur_2
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);
        grid-column-gap: 50px;
        grid-row-gap: 40px; 
    }

    .act1
    {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .act2
    {
        grid-column: 3/5;
    }

    .act3
    {
        grid-column: 3/5;
    }

    .act4
    {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .act5
    {
        grid-column: 3/5;
        
    }

    .act6
    {
        grid-column: 3/5;
    }
}

@media all and (max-width: 768px)
{
    .conteneur_2
    {
        display: flex;
        flex-direction: column;
    }

    .conteneur_2 img 
    {
        height: 200px;
    }
}

/*footer */

footer
{
    background-color: #F2F2F2;
}

.conteneur_3
{
    display: flex; 
    margin-top: 30px;
    justify-content: space-between;
    max-width: 75%;
    
   
}

.a_propos, .nos_hebergements, .assistance
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: small;
    line-height: 2;
}

h5
{
    font-size: medium;
}

@media all and (max-width: 768px)
{
    .conteneur_3
    {   
        display: flex;
        flex-direction: column;
       
    }
    .a_propos, .nos_hebergements, .assistance
    {
        padding: 10px
    }
}