@font-face {
    font-family: 'ralewayregular';
    src: url('webfont/raleway-regular-webfont.woff2') format('woff2'),
         url('webfont/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.bloc_page
{
    font-family: 'ralewayregular';
    color: black;
   
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   
}

.logo img
{
    width: auto;
    height: 80px;
    position: absolute;
    top: 0;
    border: none;
    
}
.menu
{
    display: flex;
    margin: 20px;
}
.ancre
{
    display: flex;
}
.ancre a
{
    margin: 20px;
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;

}
.inscription 
{
    margin: 20px;
}
.inscription a
{
    margin: 20px;
    color: #0065fc;;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.ancre a:active
    {   display: inline-block;
        padding: 30px 0 0 0;
        border-top: 3px #0065fc solid;
    }


            /*responsive tablette */

@media all and (max-width: 1024px)
{
    .bloc_page
    {
        width: auto;
    }
    
}


                /*responsive mobile */
@media all and (max-width:768px)
{
    .bloc_page
    {
        width: auto;
    }
    
    
  .menu
  {
      flex-direction: column-reverse;
      width: 700px;
      margin: 25px;
  }

  .inscription
  {
      text-align: right;
      color: #0065fc;
      
  }

  .ancre
  {
    justify-content: space-around;
    
  }
  
  .ancre a:active
  {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 0 0 30px 0;
    width: 200px;
    text-align: center;
  }    
  
}


        /* section trouverz un hébergement */
.titre_principal
{
    
    margin: 5px;
}

.sous_titre
{
    font-size: small;
     margin: 5px;
}

.barre1
{
    display: flex;
     position: absolute;
}

.ville
{
    width: 350px;
    height: 40px;
}
            
.bouton
{
    background-color: #0065fc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 10px 0 0 10px;  
    padding: 10px;
}

.barre2
{
    display: flex;
    margin: 20px
}

.loupe
{
    background-color: #0065fc;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 10px 10px 10px 10px;
    margin-left: -20px;
                
}
            
@media all and (max-width: 768px)
{
    .barre1
    {
        visibility: hidden;
    }
}
            

            /*filtres */
.bloc_filtre
{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 70%;
}
            

.bouton_filtre
{
    display: flex;
    justify-content: space-between;
    width: 90%;
}   
.fa-dog, .fa-heart, .fa-child, .fa-money-bill-wave
{
    background-color: #DEEBFF;
    color: #0065fc;
    border-radius: 60px;
    padding: 5px;
    margin-right: 5px;
    margin-left: -1px;
                
}

button
{
    border: 2px solid #F2F2F2;
    background-color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    padding-left: 0;
}
            
.Filtres
{
    font-weight: bold;
    margin-right:20px;
    font-size: large;
}
            
.info 
{
    font-size: small;
}
            
.fa-info
{
    border: 1px solid #dbdbdb ;
    color: #0065fc;
    padding: 1px 5px 1px 5px;
    border-radius: 50px; 
}
            
@media all and (max-width: 1024px)
{
    .bouton_filtre
    {
        flex-wrap: wrap;
        margin: 50px;
    }
}




/*section résultat de la recherche */
.conteneur_1
{
    display: flex;
}


.affichage
{
    margin-right: 20px;
    flex:3;
    border-radius: 20px;
    background-color: #F2F2F2;
    
}

.affichage h2
{
    margin: 30px;
}


.hebergement_dispo
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 300px );
    grid-column-gap: 50px;
    grid-row-gap: 50px; 
    margin: 10px;
   
 
}

img
{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius:  20px 20px 0 0;
}

.logement 
{
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    
}
a
{
    text-decoration: none;
    color: black;
}

.prix, .nom, .etoiles
{
    padding-left: 5px;
    line-height: 3px;
    

}

.nom
{
    font-size: large;
    font-weight: bold;
}
.prix
{
    font-size: small;
}

.etoiles
{
    color: #0065fc;
    
}
            
span
{
    color: #F2F2F2
}

.afficher_plus
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 20px;
}




                /*aside */
aside
{
    background-color: #F2F2F2;
    flex: 1.2;
    border-radius: 20px;
     
}
 
.titre_aside
{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    width: 80%;
    margin: 20px
}

.pop img
{
    width: 40%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.pop
{
    display: flex;
    margin: 30px;
    border: 5px solid white;
    background-color: white;
    width: 80%;
    border-radius: 20px;
    box-shadow: 5px 5px white;
    height: 150px;
}


.details_lp 
{
    margin: 0 20px 0 20px;
}
.nom_pop
{
    font-size: 1.2em;
    font-weight: bold;  
}

.prix_pop
{
    font-size: 0.8em;
}

.etoiles_pop
{
    color: #0065fc;
}
            
             
@media all and (max-width:1024px)
{
    .bloc_page
    {
        width: auto;
    }

    .conteneur_1
    {
        flex-direction: column;  
     
    }
    aside 
    {
        background-color: #DEEBFF;
        margin: 20px 20px 0 0;
        width: auto;
    } 
  
    .hebergement_dispo
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3, 250px);
        border-radius: 30px;
        grid-row-gap: 100px;
    }
   
    .logement
    {
        width: auto;
        height: 250px;   
        box-shadow: 6px 6px 6px #F2F2F2;
    }
    
    .logement img 
    {
        width: 100%;
    }

    .pop, .titre_aside
    {
        width: auto;
    }
}   


@media all and (max-width:768px)
{
    .conteneur_1
    {
        flex-direction: column-reverse;  
    }
    .hebergement_dispo
    {
        display: grid;
        grid-template-columns: repeat(1, auto);
        margin: 0;
    }    
          
    .logement
    {  
        width: 90%;
        height: 250px; 
        padding: 5px;
        margin: 10px;
       
    }
    .logement img 
    {
        width: 100%; 
        border: 5px solid white ;
        border-radius: 10px 10px 0 0;
        height: 150px;
    
    }

    aside 
    {
        border-radius: 0;
        background-color: #F2F2F2;

    }

    .affichage 
    {
        background-color: white;
    }
        
}      


/*section activités */


.titre_activite
{
    margin: 30px;
}
.conteneur_2
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 50px;
    grid-row-gap: 40px; 
    margin: 20px;
    height: 500px;
 

}

.conteneur_2 img
{
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
   
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
.act1
{
   
    grid-area: 1 / 1 / 3 / 2;
    position: relative;
    
}

.act2
{
    position: relative;
  
}


.act3
{
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
 
}

.act4
{
    grid-area: 1 / 3 / 3 / 4;
    position: relative;
   
}

.act5
{
    border-radius: 10px;
    position: relative;
}

.act6
{
    position: relative;
}
.lieu
{
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    font-weight: bold;
    font-size: large;
    border-radius: 0  0 20px 20px;
    padding-left: 20px;
}


@media all and (max-width: 1024px)
{
    .conteneur_2
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);
        grid-column-gap: 50px;
        grid-row-gap: 40px; 
        margin: 20px;
        height: auto;
    }

    .act1
    {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .act2
    {
        grid-column: 3/5;
    }

    .act3
    {
        grid-column: 3/5;
    }

    .act4
    {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .act5
    {
        grid-column: 3/5;
        
    }

    .act6
    {
        grid-column: 3/5;
    }
}


@media all and (max-width: 768px)
{
    .conteneur_2
    {
        display: flex;
        flex-direction: column;
    }
    
    .conteneur_2 img 
    {
        width: 90%;
        height: 200px;
       
      
       
    }

}
/*footer */

footer
{

    background-color: #F2F2F2;
}

.conteneur_3
{
    display: flex;
    width: 75%;
    justify-content: space-between;
    
   
}
.a_propos, .nos_hebergements, .assistance
{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.conteneur_3 a 
{
    margin-bottom: 20px;
}

@media all and (max-width: 1024px)
{
    .conteneur_3
    {
        width: auto;

    }
}
@media all and (max-width: 768px)
{
    .conteneur_3
    {   
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 20px;
    }

    .a_propos, .nos_hebergements, .assistance
    {
       
        margin: 10px;
    }

   
}